<header>
  <h1>
  This is the {{pageHeaderName}}
  </h1>
  <p><button onclick="window.location.href = '/';">Home</button>
    <button onclick="window.location.href = '/about';">About</button>
    <button onclick="window.location.href = '/github';">Github</button>
  </p>
    <!-- <a href = "/">.__Home__.</a><a href = "/about">.__About__.</a><a href = "/github">.__Github__.</a> -->
</header>
