<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{welcomeMsg}}</p>
    <p><a href = "https://github.com/hmwiener/node-webserver">github</a></p>
    {{> footer}}
  </body>
</html>
